<ion-card class="card" (click)="presentActionSheet(reserva)">
    <ion-card-header>
        <ion-card-subtitle class="card-subtitle">{{reserva.countryName}}</ion-card-subtitle>
        <ion-card-title class="card-title">{{ reserva.officeRoom }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-icon name="calendar-outline" size="large"></ion-icon>
        <p class="parrafo"><b>{{ reserva.fechaReserva }} </b> </p>
        <p>{{ reserva.horasReservas[0] | slice:0:5}}</p>
    </ion-card-content>

</ion-card>